<!DOCTYPE html>
<html lang="en" class="wide wow-animation">

<head>
    <title>About us</title>
    <%- include('./layouts/head') -%>
</head>

<body style="">
<div class="page">
    <%- include('./layouts/loader') -%>
    <%- include('./layouts/nav') -%>
    

    <section class="section-md-50"></section>
    <!--<section style="background-image: url(images/bg-image-1.jpg);" class="section-165 section-sm-200 section-md-200 section-lg-bottom-265 bg-gray-dark page-title-wrap">-->
    <!--</section>-->

    <!--contact other-->
    <section class="product-bg section-60 section-sm-top-90 section-sm-bottom-100 contact-top position-relative">
        <div class="contact-bg"></div>
        <div class="shell position-relative">
            <div class="row">
                <div class="col-md-6">
                    <figure>
                        <img src="./imgs/contact.png" alt="" />
                    </figure>
                </div>
                <div class="col-md-6 contact-desc position-relative flex-md-box-mean flex-md-top flex-md">
                    <div class="contact-desc-top  text-center text-md-left ">
                        <h2 class="font-adonide_bold section-top-50 section-md-top-100">CONTACTS</h2>
                        <div>
                            &nbsp;—————&nbsp;&nbsp;
                            <a href="" class="fa fa-envelope-o fa-fw"></a>&nbsp;&nbsp;&nbsp;&nbsp;
                            <a href="" class="fa fa-facebook"></a>&nbsp;&nbsp;&nbsp;&nbsp;
                            <a href="" class="fa fa-twitter"></a>
                        </div>
                    </div>
                    <div class=" text-center text-md-left">
                        <div class="section-15"></div>
                        <div class="th-box">
                            <i class="fa fa-phone"></i>
                            <span class="font-adonide_bold">
                                PHONE
                            </span>
                            <div>
                                021 6219 0609
                            </div>
                        </div>
                        <div class="th-box fa-fax">
                            <i class="fa"></i>
                            <span class="font-adonide_bold">
                                FAX
                            </span>
                            <div>
                                021 6219 0609
                            </div>
                        </div>
                        <div class="th-box">
                            <i class="fa fa-envelope-o fa-fw"></i>
                            <span class="font-adonide_bold">
                                EMAIL
                            </span>
                            <div>
                                021 6219 0609
                            </div>
                        </div>
                        <div class="th-box">
                            <i class="fa fa-map"></i>
                            <span class="font-adonide_bold">
                                ADRESS
                            </span>
                            <div>
                                CHINA, Shanghai <br/>
                                317 XianXia Rd. Rm 2007
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="product-bg section-30" id="get-in-touch">
        <div class="shell text-center text-md-left">
            <h3 class="font-adonide_bold">GET IN TOUCH</h3>
            <div class="row">
             
                <%- include('./contact/list') -%> 
                <%- include('./contact/list') -%> 
                <%- include('./contact/list') -%> 
                <%- include('./contact/list') -%> 
                <%- include('./contact/list') -%> 
            </div>
        </div>
    </section>
    <!--contact end-->
    <%- include('./layouts/footer') -%>   
</div>

<%- include('./layouts/script') -%>

</body>


</html>