<!DOCTYPE html>
<html lang="en" class="wide wow-animation">

<head>
  <title>Products</title>
  <%- include('./layouts/head') -%>
</head>

<body>
  <div class="page">
    <%- include('./layouts/loader') -%>
      <%- include('./layouts/nav') -%>


        <section class="color-n333 text-center section-30 section-md-bottom-66 section-md-top-145 product-bg">
          <h2 class="">Order a catalog</h2>
          <p class="font-n16 padding-n10">
            To find your product take the chance to have a closer look at our catalog.
          </p>
        </section>


        <section class="section-60">
          <div class="shell">
            <div class="down-wrap text-center">
              <div class="down-list row range ">
                <div class="down-bg col-md-8">
                  <figure>
                    <img src="./imgs/pdf.jpg" alt="" />
                  </figure>
                </div>
                <div class="section-top-30 col-md-4 down-btn-wp">
                  <a href="" class="down-btn">
                            View Oline
                        </a>
                </div>
              </div>
              <div class="down-list row range ">
                <div class="down-bg col-md-8 position-relative">
                  <figure>
                    <img src="./imgs/pdf2.jpg" alt="" />
                  </figure>
                  <!--<div class="down-pdf">PDF</div>-->
                </div>
                <div class="section-top-30 col-md-4 down-btn-wp">
                  <a href="" class="down-btn">
                            Download
                        </a>
                </div>
              </div>
            </div>
          </div>
        </section>

        <!--about footer-->
        <%- include('./layouts/service') -%>
          <!--about footer end-->
          <%- include('./layouts/footer') -%>
  </div>

  <%- include('./layouts/script') -%>

</body>


</html>