<!DOCTYPE html>
<html lang="en" class="wide wow-animation">

<head>
    <title>Products</title>
    <%- include('./layouts/head') -%>
</head>

<body >
<div class="page">
    <%- include('./layouts/loader') -%>
    <%- include('./layouts/nav') -%>


    <section class=""></section>

    <section class="text-center section-75 product-class-title">
        Order a catalog
        <p style="font-size: 12px;padding-top: 10px;">
            To find your product take the chance to have a closer look at our catalog.
        </p>
    </section>


    <section class="section-15 section-bottom-60">
        <div class="shell">
            <div class="down-wrap text-center">
                <div class="down-list row range range-md-justify">
                    <div class="down-bg col-md-8">
                        <figure>
                            <img src="./imgs/down-b.png" alt="" />
                        </figure>
                    </div>
                    <div class="col-md-4 down-btn-wp">
                        <a href="" class="down-btn">
                            View Oline
                        </a>
                    </div>
                </div>
                <div class="down-list row range range-md-justify">
                    <div class="down-bg col-md-8 position-relative">
                        <figure>
                            <img src="./imgs/down-b.png" alt="" />
                        </figure>
                        <div class="down-pdf">PDF</div>
                    </div>
                    <div class="col-md-4 down-btn-wp">
                        <a href="" class="down-btn">
                            Download
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--about footer-->
    <section class="about-footer">
        <div class="shell">
            <div class="range range-md-justify offset-top-30 offset-sm-top-40">
                <div class="cell-sm-6 no-cell-pl">
                    <figure><img src="images/typography-3-570x386.jpg" alt="" width="570" height="386">
                    </figure>
                </div>
                <div class="cell-sm-6 offset-top-30 offset-sm-top-0 no-cell-pl about-footer-content">
                    <div class="text-gray-darker">
                        <h6 class="about-service-title">
                            SERVICE
                        </h6>
                        <p>
                            We conform to the standards to ensure quality, and we conform to our customer’s needs to ensure satisfaction.
                            For more information on our products and services, or to request a quote, please contact us today
                        </p>
                        <div class="about-more text-right">
                            <a href="">GET IN TOUCH  <span class="fa fa-arrow-right"></span></a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
    <!--about footer end-->
    <%- include('./layouts/footer') -%>  
</div>

<%- include('./layouts/script') -%>

</body>


</html>