<!DOCTYPE html>
<html lang="en" class="wide wow-animation">
<head>
    <title>Home ejs</title>
    <%- include('./layouts/head') -%>
</head>

<body style="">
    <div class="page">
        <%- include('./layouts/loader') -%>
        <%- include('./layouts/nav') -%>
        <%- include('./layouts/banner') -%>
        <%- include('./index/future') -%>
        <%- include('./index/product') -%>
        <%- include('./index/hot') -%>
        <%- include('./index/blog') -%>
        <%- include('./layouts/footer') -%>    
    </div>
    <%- include('./layouts/script') -%>
</body>
</html>