<!DOCTYPE html>
<html lang="en" class="wide wow-animation">

<head>
    <title>news</title>
    <%- include('./layouts/head') -%>
</head>

<body>
<div class="page">
    <%- include('./layouts/loader') -%>
    <%- include('./layouts/nav') -%>

    <section style="background-image: url(images/bg-image-1.jpg);" class="section-165 section-sm-200 section-md-200 section-lg-bottom-265 bg-gray-dark page-title-wrap">
    </section>

    <!--list-->
    <section  class="section-50  section-lg-top-120  product-bg">
        <div class="shell">
            <div class="list-news">
                <div class="range range-md-bottom range-sm-center">

                    <div class="cell-sm-11 cell-md-6 offset-top-40 offset-sm-top-60 offset-md-top-0">
                        <a href="">
                        <div class="image-group wow fadeInLeftSmallSmall">
                            <img src="imgs/new180.gif" alt="" width="689" height="469">
                        </div>
                        </a>
                    </div>
                    <div data-wow-duration="2s" data-wow-offset="200" class="cell-sm-10 cell-md-6 wow fadeInRight" >
                        <h6 class="text">Most Flexible</h6>
                        <p class="offset-top-0">01/03 2017</p>
                        <p class="offset-top-40 text-secondary">Created by the industry leaders, Starbis
                            Bootstrap theme includes a comprehensive set of tools which are super easy to pick up and run.
                            This template gives you a huge leg up to create your own beautiful site using powerful options &amp; tools,
                            unlimited designs, and responsive framework.</p>

                    </div>
                </div>
                <div class="range range-md-bottom range-sm-center">

                    <div class="cell-sm-11 cell-md-6 offset-top-40 offset-sm-top-60 offset-md-top-0">
                        <a href="">
                            <div class="image-group wow fadeInLeftSmallSmall">
                                <img src="imgs/new180.gif" alt="" width="689" height="469">
                            </div>
                        </a>
                    </div>
                    <div data-wow-duration="2s" data-wow-offset="200" class="cell-sm-10 cell-md-6 wow fadeInRight" >
                        <h6 class="text">Most Flexible</h6>
                        <p class="offset-top-0">01/03 2017</p>
                        <p class="offset-top-40 text-secondary">Created by the industry leaders, Starbis
                            Bootstrap theme includes a comprehensive set of tools which are super easy to pick up and run.
                            This template gives you a huge leg up to create your own beautiful site using powerful options &amp; tools,
                            unlimited designs, and responsive framework.</p>

                    </div>
                </div>
                <div class="range range-md-bottom range-sm-center">

                    <div class="cell-sm-11 cell-md-6 offset-top-40 offset-sm-top-60 offset-md-top-0">
                        <a href="">
                            <div class="image-group wow fadeInLeftSmallSmall">
                                <img src="imgs/new180.gif" alt="" width="689" height="469">
                            </div>
                        </a>
                    </div>
                    <div data-wow-duration="2s" data-wow-offset="200" class="cell-sm-10 cell-md-6 wow fadeInRight" >
                        <h6 class="text">Most Flexible</h6>
                        <p class="offset-top-0">01/03 2017</p>
                        <p class="offset-top-40 text-secondary">Created by the industry leaders, Starbis
                            Bootstrap theme includes a comprehensive set of tools which are super easy to pick up and run.
                            This template gives you a huge leg up to create your own beautiful site using powerful options &amp; tools,
                            unlimited designs, and responsive framework.</p>

                    </div>
                </div>
            </div>
            <div class="text-center section-50">
                <div class="btn btn-primary btn-rect ajax-more-btn ajax-loading">
                    See More <i class="fa fa-spinner fa-spin"></i>
                </div>
            </div>
        </div>
    </section>
    <!--list end-->
    <%- include('./layouts/footer') -%>
   
</div>

<%- include('./layouts/script') -%>

</body>


</html>