<!DOCTYPE html>
<html lang="en" class="wide wow-animation">

<head>
    <title>Products</title>
    <%- include('./layouts/head') -%>
</head>

<body style="">
<div class="page">
    <%- include('./layouts/loader') -%>
            <%- include('./layouts/nav') -%>
    
    <section class="section-md-50"></section>

    <!--search-->
    <%- include('./product/search') -%>
    <!--search end-->
    <!--list-->
    <section class="section-50  product-bg">
        <div class="shell isotope-wrap">
            <div class="range">
                <%- include('./product/choose') -%>
                <div class="cell-xs-12 offset-top-40">
                    <div class="row text-center">
                        <div data-isotope-layout="fitRows" data-isotope-group="gallery" data-photo-swipe-gallery="gallery" class="isotope isotope-gutter-default isotope--loaded" style="position: relative; height: 649px;">
                            <div data-filter="Category 1" class="col-xs-12 col-sm-6 col-md-4 isotope-item" >
                                <a href="">
                                    <div class="thumbnail thumbnail-variant-3">
                                        <figure>
                                            <img src="./imgs/thumb.png" alt="" width="340" height="250">
                                        </figure>
                                    </div>
                                    <div class="product-new">New</div>
                                    <div class="product-title">
                                        <h6>YJV 0.6/1kV</h6>
                                        <p>YJV 0.6/1kV</p>
                                    </div>
                                </a>
                            </div>
                            
                            <%- include('./product/index') -%>
                            <%- include('./product/index') -%>
                            <%- include('./product/index') -%>
                            <%- include('./product/index') -%>
                            <%- include('./product/index') -%>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--list end-->
    <%- include('./layouts/footer') -%>
</div>
</body>
    <%- include('./layouts/script') -%>
</html>